@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
   
}
header{
    width: 100%;
    padding: 15px 0px 15px 0px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 50px;
    /*background-color: white;*/
}

.start{
    font-family: 'Inter', sans-serif;
    padding-left: 4%;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.container{
    overflow: hidden;
}

.a-container{
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.send-feedback{
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin: 0 50px 0 10px;
    font-size: 14px;
    border: none;
}

.a-send-feedback{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-size: 14px;
}



.send-feedback::active{
    background-color: pink;
    color: white;
    border-radius: 15px 15px 15px 15px;
    margin: 0 50px 0 10px;
}

.burger-icon{
    display: none;
}

.content-container-1{
    display: flex;
    margin-top: 50px;
}

.content-container-1-left{
    width: 50%;
    display: block;
    margin-top: 200px;
}

.content-container-1-left h1{
    margin: auto;
    font-size: 3em;
}

.content-container-1-left p{
    color: gray;
}

.content-container-1-left-images{
    display: flex;

}

.content-container-1-left img{
    max-width: 200px;
    max-height: 100px;
    z-index: +1;
}


.content-container-1-right{
    width: 50%;
    min-height: 700px;
}

.content-container-1-right img{
    padding: 0 20px 0 20px;
    position: absolute;
    right: 150px;
    top: 8%;
}

.content-container-1-right video{
    position: absolute;
    right: 180px;
    top: 9%;
    z-index: -1;
    border-radius: 10%;
}


.content-container-2{
    width: 100%;
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 80px 80px 2% 0px;
    text-align: center;
    font-size: large;
    
}

.content-container-3{
    display: flex;
    min-height: 700px;
}

.content-container-3-left{
    width: 50%;
    display: block;
    
}


.content-container-3-right{
    width: 50%;
    display: flex;
}

.content-container-3-left img{
    padding: 0 20px 0 20px;
    position: absolute;
    left: 150px;
    top: 1100px;
}

.content-container-3-left video{
    position: absolute;
    left: 182px;
    top: 1110px;
    z-index: -1;
    border-radius: 10%;
}

.content-container-3-right{
    display: flex;
}

.content-container-3-right-1{
    width: 100%;
}

.content-container-3-right-2{
    width: 100%;
    padding-top: 20px;
}



.content-container-3-right-1-left{
    text-align: center;
}

.content-container-3-right-1-right{
    text-align: center;
}

.content-container-3-right-2-left{
    text-align: center;
}

.content-container-3-right-2-right{
    text-align: center;
}

.content-container-3-right-1-left p{
    color: gray;
}

.content-container-3-right-1-right p{
    color: gray;
}

.content-container-3-right-2-left p{
    color: gray;
}

.content-container-3-right-2-right p{
    color: gray;
}

.content-container-4{
    display: flex;
    padding-bottom: 100px;
    background-color: rgb(248, 249, 250);
}

.content-container-4-left{
    padding-left: 50px;
    width: 50%;
    display: block;
    margin-top: 200px;
}

.content-container-4-left p{
    color: gray;
}

.content-container-4-right{
    width: 50%;
    display: flex;
    margin-top: 200px;
    justify-content: center;
    
}


.image-background-div{
    background-image: url(./assets/portrait_black.png);
}

.content-container-5{
    padding-top: 100px;
    padding-left: 50px;
    min-height: 600px;
    color: white;
    background-image: url(./assets/kelly-sikkema-fUdTivaXoYs-unsplash.jpg);
    background-size: cover;
}



.content-container-5 button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin: 0 50px 0 10px;
    font-size: 14px;
}

.content-container-5 button:hover{
    background-color: rgb(0, 0, 255);
    border: none;
}

.content-container-5 button a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-size: 14px;
}

.content-container-6{
    padding-top: 40px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 255);
    min-height: 100px;
    padding-bottom: 40px;
}

.content-container-6-stores{
    display: flex;
    justify-content: center;
}


.content-container-6-stores img{
    padding:20px;
}

footer{
    margin: 0;
    text-align: center;
    color: gray;
    background-color: black;
    font-size: small;
}

.footer-ul{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.footer-ul li{
    padding-right: 20px;
    text-decoration: none;
}

.footer-list-item{
    color: white;
}

/************************************************/

@media screen and (max-width:900px) {
    .burger-icon{
        display: block;
        padding-right: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    header{
        background-color: white;
    }

    .start{
        min-width: 60%;
    }

    .container{
        margin-top: 20px;
        display: none;
        width: 100%;
    }

    .a-container, .a-send-feedback{
        display: block;
        padding: 5px 0px 5px 0px;
        margin-right: 0;
    }

    .a-container{

    }

    .content-container-1 {
        display: block;
        text-align: center;
        min-height: 1000px;
    }

    .content-container-1-left{
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;

    }

    .content-container-1-left-images{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
    }

    .content-container-1-right{
        display: block;
    }

    .content-container-1-right img{
        padding: 0 20px 0 20px;
        position: absolute;
        right: 100px;
        top: 500px;
    }
    
    .content-container-1-right video{
        position: absolute;
        right: 130px;
        top: 510px;
        z-index: -1;
        border-radius: 10%;
    }

    .content-container-3-right-2{
        min-height: 900px;
     
    }

    .content-container-3-left img{
        position: absolute;
        right: 100px;
        top: 2200px;
    }

    .content-container-3-left video{
        position: absolute;
        right: 130px;
        top: 2210px;
        z-index: -1;
        border-radius: 10%;
    }

    .content-container-3-left{
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .content-container-3-right{
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
    }



    .content-container-4{
        display: block;
        margin: 0 auto;
    }

    .content-container-4 img{
        display: block;
        margin: auto;
        align-self: center;
    }

    .content-container-6-stores{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .content-container-6-stores img{
        max-width: 100px;
        max-height: 100px;
    }




}



/***************************************************/
@media screen and (max-width:600px){
    .burger-icon{
        display: block;
        padding-right: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    header{
        background-color: white;
    }

    .start{
        min-width: 60%;
    }

    .container{
        margin-top: 20px;
        display: none;
        width: 100%;
    }

    .a-container, .a-send-feedback{
        display: block;
        padding: 5px 0px 5px 0px;
        margin-right: 0;
    }

    .a-container{

    }

    .content-container-1 {
        display: block;
        text-align: center;
        min-height: 800px;
    }

    .content-container-1-left{
        display: block;
        margin: 0 auto;
        text-align: center;
        align-items: center;

    }

    .content-container-1-left-images{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
    }

    .content-container-1-right{
        display: block;
    }

    .content-container-1-right img{
        padding: 0 20px 0 20px;
        position: absolute;
        right: 70px;
        top: 600px;
        height: 300px;
    }
    
    .content-container-1-right video{
        position: absolute;
        right: 100px;
        top: 610px;
        z-index: -1;
        height: 288px;
        border-radius: 10%;
    }

    .content-container-3-right-2{
        min-height: 750px;
     
    }

    .content-container-3-left img{
        position: absolute;
        right: 70px;
        top: 2400px;
        height: 300px;
    }

    .content-container-3-left video{
        position: absolute;
        right: 100px;
        top: 2410px;
        z-index: -1;
        height: 288px;
        border-radius: 10%;
    }

    .content-container-3-left{
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .content-container-3-right{
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
    }



    .content-container-4{
        display: block;
        margin: 0 auto;
    }

    .content-container-4 img{
        display: block;
        margin: auto;
        align-self: center;
    }

    .content-container-6-stores{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .content-container-6-stores img{
        max-width: 100px;
        max-height: 100px;
    }

}